<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .cont{
            padding: 90px;
           box-sizing: content-box;
            box-shadow: 0 0 20px;
            margin: 150px;
            width: 400px;
            margin-left: 29%;
            border-radius: 8px;
            background-color: rgb(189, 231, 194);
        }
            
       
    </style>
</head>
<body>
    <section>
        <div class="cont">
            <h1>Your Tasks</h1>
            {% for i in task %}
                <p>{{i.task}}</p>
                <button>
                    <a href="{% url 'task' i.id %}">Delete</a>
                </button>
                <button>
                    <a href="{% url 'update_task' i.id %}">Update</a>
                </button>
                <p>{{i.date}}</p>
            {% endfor %}
        </section>
        <br><br>
        <button>
            <a href="{% url 'home'  %}">Back to add task</a>
        </button>
    </div>
</body>
</html>